
.left-side__container {
    width: 70vw;
    height: 100vh;
    background-color: white;
}

@media (min-width: 320px) and (max-width: 480px) {
    .left-side__container {
        width: 100vw;
    }
  }

  
  @media (min-width: 768px) and (max-width: 1024px) {
    .left-side__container {
        width: 100vw;
        height: auto;
    }
  }