.image-container {
  height: 60%;
  display: flex;
  justify-content: center;
  background-color: #f4f5f7;

  &__photo {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .image-container {
    &__photo{
      width: 90vw;
      height: 90%;
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .image-container {
    &__photo {
      width: 90vw;
      height: 90%;
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
}
