<div class="container">
  <div class="container__special-remarks">
    <h2 class="special-remarks__title">Posebne napomene</h2>
    <p class="special-remarks__para">
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer.
    </p>
  </div>
  <div class="container__special-remarks">
    <h2 class="special-remarks__title">Posebne napomene</h2>
    <p class="special-remarks__para">
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged.
    </p>
  </div>
  <div class="container__special-remarks">
    <h2 class="special-remarks__title">Posebne napomene</h2>
    <p class="special-remarks__para">
      It has survived not only five centuries, but also the leap into electronic
      typesetting.
    </p>
  </div>
</div>
