
@import "src/styles.scss";


.container {
  width: 100%;
  background-color: #fff;
  padding: 40px;
  height: 45%;

  &__special-remarks {
    width: 100%;
    color: #212121;
    margin-bottom: 40px;

    .special-remarks__title {
      @include textStyle(700, 14px, 16px, -0.4px);
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    .special-remarks__para {
      @include textStyle(400, 12px, 16px, -0.4px);
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    padding: 10px 25px;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    &__special-remarks {
      margin-bottom: 20px;
      &:last-of-type {
        padding-bottom: 20px;
        border-bottom: 1px solid #e8e8e8;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    padding: 10px 25px;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    &__special-remarks {
      margin-bottom: 20px;
      &:last-of-type {
        padding-bottom: 20px;
        border-bottom: 1px solid #e8e8e8;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 10px 25px;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    &__special-remarks {
      margin-bottom: 20px;
      &:last-of-type {
        padding-bottom: 20px;
        border-bottom: 1px solid #e8e8e8;
      }
    }
  }
}
